.container{
    background-color: black;
    

}
.container h1{
    color: white;
    margin-left: 80px;
}
.container p{
    color: white;
    margin-left: 80px;
}
#pic{
    margin-left: 430px;
    height:60px;
      border-radius: 6px;
}
  
.information h2{
    color: white;
    margin-left: 80px;

}
.information img{
    margin-left: 80px;
}
.phone{
    display: flex;
}
.location{
    display: flex;
    margin-top: 10px;
}
.time{
    margin-top: 10px;
    display: flex;
}
.logos{
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
}
.Trips{
    color: white;
    margin-left: 80px;
    margin-top: 100px;
}
.facebook img{
    width: 80px;    
}
.places {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 20px;
    
}
.places img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.logos img{
    border-radius: 6px;
    height:60px;
}

